// ========================================================
// BUTTONS
// ========================================================

#{$all-buttons} {
  @include appearance(none);
  border: none;
  background-color: transparent;
}
.btn, input[type="submit"] {
  @include text-overflow;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  @include transition(all .3s ease-in-out);
  @include linear-gradient($button-color 25%, darken($button-color, 12%) 50%);
  @include rounded(1em);
  @include box-shadow($shadow: none);
  background-size: 100% 200%;
  background-repeat: repeat;
  border: 1px solid darken($button-color, 12%);
  color: #fff;
  text-shadow: 0 1px 0 rgba(#666, .25);
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: .5em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &.small {
    font-size: $base-font-size * .75;
  }
  &:visited { color: #fff; }
  &:hover,
  &:focus {
    color: $md-yellow-a100;
    outline: none;
    background-position: 200% 100%;
    @include box-shadow($shadow: 0 2px 4px rgba(#666, .5));
  }
  &:active {
    outline: none;
    background-color: $dark-color;
    color: $md-blue-100;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    @include box-shadow($shadow:inset 0 2px 8px rgba(0,0,0,.5));
  }

  &.muted {
    @include linear-gradient($md-grey-200 25%, $md-grey-400 50%);
    border: 1px solid $md-grey-500;
    color: $md-grey-700;
    text-shadow: none;
    &:hover, &:focus { color: #000; @include box-shadow($shadow: 0 2px 4px rgba(#999, .5)); }
    &:active {
      outline: none;
      background-color: $md-grey-200;
      color: #fff;
      @include box-shadow($shadow:inset 0 2px 8px rgba(0,0,0,.4));
    }
  }

  &.error {
    @include linear-gradient($md-red-600 25%, $md-red-800 50%);
    border: 1px solid $md-red-800;
    color: #fff;
    text-shadow: none;
    &:hover, &:focus { color: #000; @include box-shadow($shadow: 0 2px 4px rgba(#999, .5)); }
    &:active {
      outline: none;
      background-color: $md-red-800;
      color: #fff;
      @include box-shadow($shadow:inset 0 2px 8px rgba(0,0,0,.4));
    }
  }

  &:disabled, &.disabled {
    cursor: not-allowed;
    @include opacity(.5);
  }
}

// Margins for adjacent siblings
.btn, input[type="submit"] {
  & + & {
    margin-left: $small-spacing;
  }
}

// SVG icons in button labels
.btn, input[type="submit"] {
  .svgicon {
    @include size($base-font-size * .75);
    margin-right: .325em;
  }
}
