// ========================================================
// LAYOUT
// ========================================================

body {
  padding: $base-spacing 0;
  background: url('/images/northern-lights.jpg') no-repeat;
  background-size: cover;
}

// Example page styles
section {
	margin: 0 auto;
	padding: $base-spacing;
	max-width: $bp4;
	background: rgba(#fff, 0.75);
  border-radius: 12px;
	.wrapper {
		margin: $base-spacing auto;
	}
}

// TIMELINE
.page-title {
  color: $md-deep-purple-800;
  text-align: center;
}
dl.timeline {
  margin: 0 auto $base-spacing;
  max-width: $bp4;
  position: relative;
  dt, dd {
    @include zero;
    display: block;
  }
  dt {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    color: $md-deep-purple-800;
    padding: 6px 12px 6px 6px;
    background: #fff;
    border: 1px solid $md-deep-purple-500;
  }
  dd {
    color: #000;
    position: relative;
    padding-top: $small-spacing;
    padding-bottom: $small-spacing;
    padding-left: $base-spacing;
    border-left: 1px solid $md-deep-purple-500;
    &:after {
      content: '';
      position: absolute;
      top: $small-spacing;
      left: -7px;
      margin-top: 7px;
      @include size(12px);
      border-radius: 50%;
      background: #fff;
      border: 1px solid $md-deep-purple-500;
    }
  }
  img {
    border-radius: 12px;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(#666, .5);
  }
}