// ========================================================
// MEDIA
// ========================================================

figure {
  @include zero;
  margin: 0 auto $base-spacing;
}

img, picture {
  margin: 0;
  max-width: 100%;
  height: auto;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
@media \0screen {img { width: auto }} /* Prevent height distortion in IE8. */

// Responsive SVG files in image tags IE10+
// https://gist.github.com/larrybotha/7881691
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%; 
  }
}

// Disable max-width 100% on Google Maps
img[src*="gstatic.com/"], img[src*="googleapis.com/"] { max-width: none; }

.center-image {
  display: block;
  margin: 0 auto $base-spacing;
}

svg:not(:root) { overflow : hidden; }

// Wrap these in a container with a class of .embed-wrapper
iframe, embed, object, video {
  max-width: 100%;
  height: auto;
  border: none;
}
.embed-wrapper {
  position: relative;
  margin: 0 auto $base-spacing;
  @include maintain-ratio(16 9);
}
.embed-wrapper iframe,
.embed-wrapper embed,
.embed-wrapper object,
.embed-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
