// ========================================================
// TABLES
// ========================================================

table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
  vertical-align: bottom;
}

td {
  border-bottom: 1px solid $base-border-color;
  padding: $small-spacing 0;
}

tr, td {
  vertical-align: middle;
}

.table-striped {
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
}