// ========================================================
// TYPOGRAPHY
// html, body and global element defaults
// ========================================================


* { @include box-sizing(border-box); }

html {
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0;
  color: $base-font-color;
  background: $base-background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  @include font-feature-settings("kern", "liga", "tnum");
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 0;
  -ms-text-size-adjust: 0; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @include media-query-bp($bp3, max) { // Reduce base font size on handhelds
    font-size: $base-font-size * .875;
  }
  @include media-query-bp($bp6) { // Increase base font size on laptops
    font-size: $base-font-size * 1.125;    
  }
  @include media-query-bp($bp7) { // Increase base font size on large displays
    font-size: $base-font-size * 1.375;    
  }

}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative;
}

@include selection { background-color: $light-color; color: $black; text-shadow: none; }

// Global defaults optimized for templates NOT content
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-size: $ms-up1;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing/2;
  font-weight: $base-font-weight-strong;
}

p { margin: 0 0 $small-spacing; font-size: $base-font-size; line-height: $base-line-height; }

a {
  color: $action-color;
  text-decoration: none;
  transition: background $base-duration $base-timing;
  @include contain-text;

  &:active, &:focus, &:hover { color: $hover-color; }
  &:active, &:focus { outline: none; }
}

.link-highlight {
  color: $action-color;
  text-decoration: none;
  transition: background $base-duration $base-timing;
  @include box-shadow($shadow:inset 0 -4px 0 0 $light-color);
  @include contain-text;

  &:hover, &:focus {
    color: $hover-color;
    background-color: $light-color;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

a.error {
  color: $error-color;
  &:hover, &:focus {
    color: darken($error-color, 10%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
  display: block;
  clear:both;
}

strong, b { font-weight: normal; font-weight: $base-font-weight-strong; }


// TITLES + HEADINGS


// LISTS
ul, ol {
  list-style-type: none;
  margin: 0 0 $small-spacing 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
}

ul.default { @extend %default-ul; }
ol.default { @extend %default-ol; }

dl {
  margin-bottom: $small-spacing;
  dt, dd { @include zero; }
  dt { font-weight: $base-font-weight-strong; margin-top: $small-spacing; }
}

// Default content styles
.copy-wrapper {

  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-size: $base-font-size;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing/2;
    font-weight: $base-font-weight-strong;
  }

  h1 { font-size: $ms-up4; }
  h2 { font-size: $ms-up3; }
  h3 { font-size: $ms-up2; }
  h4 { font-size: $ms-up1; }
  h5 { font-size: $ms-down1; }
  h6 { font-size: $ms-down2; }

  p { margin: 0 0 $small-spacing; font-size: $base-font-size;
    &.lead { font-size: $base-font-size*1.2; }
  }

  a {
    @extend .link-highlight;
  }

  hr {
    border-bottom: $base-border;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
    display: block;
    clear:both;
  }

  strong, b { font-weight: normal; font-weight: $base-font-weight-strong; }

  ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  dl {
    margin-bottom: $small-spacing;

    dt {
      font-weight: bold;
      margin-top: $small-spacing;
    }

    dd {
      margin: 0;
    }
  }
  .serif {
    font-family: $serif-font-family;
  }

} // end .copy-wrapper

// PAGE TITLES & HEADINGS
h1.page-title {
  font-size: $ms-up4;
  font-weight: $base-font-weight-black;
}
h2, h3, h4 {
  &.heading {
    font-size: $ms-up1;
    font-family: $serif-font-family;
    font-weight: normal;
    color: $grey;
  }
  &.heading-ruled {
    @include zero;
    line-height: 1;
    padding: $small-spacing 0;
    font-weight: $base-font-weight-black;
    text-transform: uppercase;
    border-bottom: 2px solid $black;
  }
  &.title-ruled {
    @include zero;
    line-height: 1;
    padding: $small-spacing 0;
    margin-bottom: $small-spacing;
    font-size: $base-font-size;
    font-weight: $base-font-weight-strong;
    text-transform: uppercase;
    border-bottom: 1px solid $base-border-color;
  }
}

.section-heading {
  width: 100%; margin: 0 auto $small-spacing;
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(center);
  h1,h2,h3,h4 {
    @include zero; line-height: 1;
    font-weight: $base-font-weight-black;
  }
}

h1, h2, h3, h4 {
  &.center-heading {
    @include zero; margin: $small-spacing auto; line-height:1;
    color: $action-color; clear: both; width: 100%; text-align: center; overflow: hidden; padding: 4px 0px;
    font-size: $ms-up1;
    text-transform: uppercase;
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid $action-color;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.25%; }
    &:after { left: 1.25%; }
  }
}
