// ========================================================
// UTILITIES
// ========================================================

a[ng-click] { cursor: pointer; } // Force ng-click cursor to be pointers.

.center {
	margin-left: auto; margin-right: auto; text-align: center;
}

.sans-serif { font-family: $sans-font-family; }
.serif { font-family: $serif-font-family; }

// http://webaim.org/techniques/css/invisiblecontent/#techniques
.screen-reader-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
