// ========================================================
// MIXINS
// ========================================================

// http://www.aaronallport.com/index.php/2013/04/22/a-mixin-and-sass-structure-for-simple-media-query-support/
// @include media-query-bp(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
// NOTE: This MUST be used from within a selectore for the parent reference to work
// Otherwise, an error will be thrown on SASS compile. Love, Aaron.
@mixin media-query-bp($unit, $query1: min, $query2: width, $target: "") {
	$mqtarget: "";
	@if $target != "" {
		@media #{$target} and (#{$query1}-#{$query2}: #{$unit}) {
			@content;
		}
	}
	@else {
		@media (#{$query1}-#{$query2}: #{$unit}) {
			@content;
		}
	}
}

@mixin inline-block {
  display: inline-block;
}

@mixin box-sizing($box) {
  @include prefixer(box-sizing, $box, webkit moz spec);
}

// REM with PX fallback
@mixin font-size($font-size: 16) {
	font-size : #{$font-size}px;
	font-size : #{$font-size / 10}rem;
}

@mixin text-overflow() {
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}

@mixin contain-text { // Break words and auto-hyphenate. Prevent long text from breaking containers.
  word-break: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin zero { margin : 0; padding : 0; }

// @include bordered(COLOR, COLOR, COLOR, COLOR);
@mixin bordered($top-color: #eee, $right-color: #eee, $bottom-color: #eee, $left-color: #eee) {
	border-top : solid 1px $top-color;
	border-left : solid 1px $left-color;
	border-right : solid 1px $right-color;
	border-bottom : solid 1px $bottom-color;
}

// @include rounded(VALUE);
@mixin rounded($radius:4px) {
	-webkit-border-radius : $radius;
	-moz-border-radius : $radius;
	border-radius : $radius;
}

// @include box-shadow(HORIZONTAL VERTICAL BLUR COLOR))
@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
	-webkit-box-shadow : $shadow;
	-moz-box-shadow : $shadow;
	box-shadow : $shadow;
}

// @include drop-shadow(HORIZONTAL, VERTICAL, BLUR, ALPHA);
@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
	-webkit-box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	-moz-box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

// @include opacity(VALUE);
@mixin opacity($opacity : .5) {
	-webkit-opacity : $opacity;
	-moz-opacity : $opacity;
	opacity : $opacity;
}

// @include background-clip(VALUE); (border-box, padding-box, content-box)
@mixin background-clip($clip) {
	-webkit-background-clip : $clip;
	-moz-background-clip : $clip;
	background-clip : $clip;
}

// Maintain ratio mixin. Great for responsive grids, or videos.
// https://gist.github.com/brianmcallister/2932463
//
// $ratio - Ratio the element needs to maintain.
//
// Examples
//
//   // A 16:9 ratio would look like this:
//   .element {
//     @include maintain-ratio(16 9);
//   }
@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }

  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));

  width: $width;
  height: 0;
  padding-bottom: $height;
}

.ms-truncate {
  cursor: pointer;
}

// Outline style for focused elements
@mixin focus-outline {
  outline-color: rgba($action-color, 0.5);
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: 8px;
}

@mixin handheld-only($display: block) {
  display: $display;
  visibility: visible;
  @include media-query-bp($bp5) {
    display: none;
    visibility: hidden;
  }
}

@mixin desktop-only($display: block) {
  display: none;
  visibility: hidden;
  @include media-query-bp($bp5) {
    display: $display;
    visibility: visible;
  }
}