// ========================================================
// CUSTOM CHECKBOX AND RADIO BUTTONS
// ========================================================

// CUSTOM CHECKBOX BUTTONS
.checkbox-group {
  margin: 0 auto $small-spacing;
  padding: $small-spacing /2;
  border: 1px solid $md-grey-200;
  position: relative;

  .input-status {
    margin-left: $ms-up1 + $small-spacing;
    margin-bottom: 0;
    margin-top: -0.25em;

    li {
      margin-bottom: $small-spacing;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
.checkbox-group input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  @include zero;
}

.checkbox-group label {
  position: relative;
  display: inline-block;
  padding-left: $ms-up1 + 1em;
  line-height: 1.2;
  vertical-align: baseline;
}

.checkbox-group label::before,
.checkbox-group label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox-group label::before{
  @include size($ms-up1);
  border: 2px solid $base-border-color;
  top: -2px;
  left: 0px;
  @include rounded(.25em);
  @include linear-gradient(to bottom, #fff, $md-grey-200);
}

/*Checkmark of the fake checkbox*/
.checkbox-group label::after {
  height: .5em;
  width: .9em;
  border-left: 4px solid;
  border-bottom: 4px solid;
  transform: rotate(-45deg);
  left: 3px;
  top: 1px;
  color: #fff;
}

/*Hide the checkmark by default*/
.checkbox-group input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox-group input[type="checkbox"]:checked + label::after {
  content: "";
}
.checkbox-group input[type="checkbox"]:checked + label::before {
  content: "";
  background: $success-color;
  border-color: $success-color;
}
.checkbox-group input[type="checkbox"]:checked + label {
  color: $success-color;
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox-group input[type="checkbox"]:focus + label::before {
  @include focus-outline;
  outline-offset: 2px;
}
/* Disabled */
.checkbox-group input[type="checkbox"]:disabled + label {
  color: $md-grey-500;
  text-decoration: line-through;
}
.checkbox-group input[type="checkbox"]:disabled + label::before {
  background: $md-grey-100;
  border-color: $md-grey-300;
}


// CUSTOM RADIO BUTTONS

.radio-group {
  margin: 0 auto $small-spacing;
  padding: $small-spacing /2;
  border: 1px solid $md-grey-200;
  position: relative;

  &.inline {
    display: inline-block;
    padding-right: $base-spacing;
    margin-right: $small-spacing;
  }
}
.radio-group input[type="radio"] {
  opacity: 0;
  position: absolute;
  @include zero;
}

.radio-group label {
  position: relative;
  display: inline-block;
  padding-left: $ms-up1 + 1em;
  line-height: 1.2;
}

.radio-group label::before,
.radio-group label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

/*Outer box of the fake radio*/
.radio-group label::before{
  @include size($ms-up1);
  border: 2px solid $base-border-color;
  top: -2px;
  left: 0px;
  @include rounded(50%);
  @include linear-gradient(to bottom, #fff, $md-grey-200);
}

/*Checkmark of the fake radio*/
.radio-group label::after {
  height: .5em;
  width: .5em;
  left: .5em;
  top: .4em;
  background: #fff;
  @include rounded(50%);
}

/*Hide the checkmark by default*/
.radio-group input[type="radio"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.radio-group input[type="radio"]:checked + label::after {
  content: "";
}
.radio-group input[type="radio"]:checked + label::before {
  content: "";
  background: $success-color;
  border-color: $success-color;
}
.radio-group input[type="radio"]:checked + label {
  color: $success-color;
}

/*Adding focus styles on the outer-box of the fake radio*/
.radio-group input[type="radio"]:focus + label::before {
  @include focus-outline;
  outline-offset: 2px;
}
/* Disabled */
.radio-group input[type="radio"]:disabled + label {
  color: $md-grey-500;
  text-decoration: line-through;
}
.radio-group input[type="radio"]:disabled + label::before {
  background: $md-grey-100;
  border-color: $md-grey-300;
}
