// ========================================================
// VARIABLES
// ========================================================

// MEDIA QUERY BREAKPOINTS
$bp2        :30em;      // 480px
$bp3        :37.5em;    // 600px
$bp4        :48em;      // 768px 
$bp5        :62em;      // 992px
$bp6        :86.375em;  // 1382px
$bp7        :120em;     // 1920px


// COLORS
// $md-[color name]-[value]
$black						  :$md-grey-900;      // #212121
$white						  :$md-grey-50;       // #fafafa
$grey 						  :$md-grey-700;      // #616161
$light-grey         :$md-blue-grey-50;  // #eceff1
$cream              :#FDFCD7;           // Bright, yellow, off-white
$eggshell           :#FEF7E7;           // Dull, sandy, off-white.

$success-color      :$md-green-700;
$error-color        :$md-red-700;
$notice-color       :#7d5d96;
$alert-color        :$md-amber-700;

$light-blue 				:#bfe2ed;
$purple 					  :$md-purple-800;

$base-background-color: $md-grey-50;
$base-font-color: $md-grey-800;

$action-color: #007ca6;
$hover-color: darken($action-color, 15%);

$dark-color: #2d4f73;
$light-color: lighten($action-color, 50%);

$base-border-color: $md-grey-400;

$button-color:        $action-color;
$button-hover-color:  $hover-color;


// =================================================
// BASE
// =================================================

// Webfonts: @font-face declarations before any other styles!

// SOURCE SANS PRO
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/source-sans-pro-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('/assets/fonts/source-sans-pro-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/source-sans-pro-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/source-sans-pro-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/source-sans-pro-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/source-sans-pro-v9-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/source-sans-pro-v9-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
       url('/assets/fonts/source-sans-pro-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/source-sans-pro-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/source-sans-pro-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/source-sans-pro-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/source-sans-pro-v9-latin-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/source-sans-pro-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('/assets/fonts/source-sans-pro-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/source-sans-pro-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/source-sans-pro-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/source-sans-pro-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/source-sans-pro-v9-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/source-sans-pro-v9-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'),
       url('/assets/fonts/source-sans-pro-v9-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/source-sans-pro-v9-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/source-sans-pro-v9-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/source-sans-pro-v9-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/source-sans-pro-v9-latin-600italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/source-sans-pro-v9-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
       url('/assets/fonts/source-sans-pro-v9-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/source-sans-pro-v9-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/source-sans-pro-v9-latin-900.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/source-sans-pro-v9-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/source-sans-pro-v9-latin-900.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

// Adelle
@include font-face('adelle', '/assets/fonts/2F002E_3_0', normal, normal, $file-formats: eot woff  woff2 ttf);   // regular
@include font-face('adelle', '/assets/fonts/2F002E_2_0', normal, italic, $file-formats: eot woff  woff2 ttf);   // italic
@include font-face('adelle', '/assets/fonts/2F002E_0_0', bold, normal, $file-formats: eot woff  woff2 ttf);     // bold
@include font-face('adelle', '/assets/fonts/2F002E_1_0', bold, italic, $file-formats: eot woff  woff2 ttf);     // bold italic

// Typography
$sans-font-family:	"Source Sans Pro", $helvetica;
$serif-font-family:	"adelle", $georgia;

$base-font-family: $sans-font-family;
$heading-font-family: $sans-font-family;

// Font Sizes
$base-font-size: 1em;
$base-font-weight: 400;
$base-font-weight-strong: 600;
$base-font-weight-black: 900;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// TYPE SCALE
// Modular scale ratio that is used to calculate all the different font sizes
$ms-ratio: 1.250;                       // Major Third
$ms-down1: $base-font-size / $ms-ratio; // H6
$ms-down2: $ms-down1 /$ms-ratio;        // H5
                                        // P is 1em
$ms-up1: $base-font-size * $ms-ratio;   // H4
$ms-up2: $ms-up1 * $ms-ratio;           // H3
$ms-up3: $ms-up2 * $ms-ratio;           // H2
$ms-up4: $ms-up3 * $ms-ratio;           // H1

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Border
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 2px 2px rgba(#666, 0.125);
$form-box-shadow-hover: 0 2px 4px 0 rgba(#666, .2);
$form-box-shadow-focus: $form-box-shadow, 0 0 0 3px adjust-color($light-color, $lightness: -5%, $alpha: -0.25);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: .25s;
$base-timing: ease;



